{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Category: {{ category_name }}</h2>
    {% if listings %}
        {% for listing in listings %}
            <div class="listing">
                <h2>{{ listing.title }}</h2>
                <img src="{{ listing.photo_url }}" height="200px">
                <p>{{ listing.description }}</p>
                <p>
                    {% if listing.highest_bid %}
                        Current highest bid: ${{ listing.highest_bid }} ({{ listing.bid_count }} {% if listing.bid_count == 1 %} bid{% else %} bids{% endif %})
                    {% else %}
                        Starting bid: ${{ listing.starting_bid }}
                    {% endif %}</p>
                <a href="{% url 'listing' listing.id %}">View listing</a>&nbsp&nbsp
                {% if listing.user == user %}
                    <a href="{% url 'edit' listing.id%}">Edit listing</a>
                {% endif %}
                <hr>
            </div>
        {% endfor %}
    {% else %}
            <p>There are no listings in this category...</p>
    {% endif %}

{% endblock %}