{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ title }}</h2>
    {% if listings %}
        {% for listing in listings %}
            <div class="listing">
                <h2>{{ listing.title }}</h2>
                <img src="{{ listing.photo_url }}" height="200px">
                <p>{{ listing.description }}</p>
                {% if listing.is_active %}
                    <div>
                        {% if listing.highest_bid %}
                            <p>Current highest bid: ${{ listing.highest_bid }} ({{ listing.bid_count }} {% if listing.bid_count == 1 %} bid{% else %} bids{% endif %})</p>
                            <p>Current highest bidder: {{ listing.highest_bidder }}</p>
                        {% else %}
                            Starting bid: ${{ listing.starting_bid }}
                        {% endif %}
                    </div>
                {% else %}
                    <div>
                        <p>Status: Finished</p>
                        {% if listing.highest_bid %}
                            <p>Winning bid: ${{ listing.highest_bid }} ({{ listing.bid_count }} {% if listing.bid_count == 1 %} bid{% else %} bids{% endif %})</p>
                            <p>Won by: {{ listing.highest_bidder }}</p>
                        {% else %}
                            <p>No bids were made</p>
                        {% endif %}
                    </div>
                {% endif %}
                <a href="{% url 'listing' listing.id %}">View listing</a>&nbsp&nbsp
                {% if listing.user == user %}
                    <a href="{% url 'edit' listing.id%}">Edit listing</a>
                {% endif %}
                <hr>
            </div>
        {% endfor %}    
    {% else %}
            <p>No listings found.</p>
    {% endif %}

{% endblock %}