{% extends "auctions/layout.html" %}

{% block body %}

    {% if error_message %}
        <h2>No Listing Found</h2>
    {% else %}

        <div class="listing-page">

            <div class="listing-page-content">

                <div class="listing-page-status">
                    {% if listing.is_active == True %}
                        <div class="status-icon-sm active">Active</div>
                    {% else %}
                        <div class="status-icon-sm finished">Finished</div>
                        {% if user == current_highest_bidder %}
                            <div class="winner">
                                <svg viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M14.53 1.45L13.45 2.53L15.05 4.13C15.27 4.38 15.38 4.67 15.38 5S15.27 5.64 15.05 5.86L11.5 9.47L12.5 10.55L16.13 6.94C16.66 6.35 16.92 5.7 16.92 5C16.92 4.3 16.66 3.64 16.13 3.05L14.53 1.45M10.55 3.47L9.47 4.55L10.08 5.11C10.3 5.33 10.41 5.63 10.41 6S10.3 6.67 10.08 6.89L9.47 7.45L10.55 8.53L11.11 7.92C11.64 7.33 11.91 6.69 11.91 6C11.91 5.28 11.64 4.63 11.11 4.03L10.55 3.47M21 5.06C20.31 5.06 19.67 5.33 19.08 5.86L13.45 11.5L14.53 12.5L20.11 6.94C20.36 6.69 20.66 6.56 21 6.56S21.64 6.69 21.89 6.94L22.5 7.55L23.53 6.47L22.97 5.86C22.38 5.33 21.72 5.06 21 5.06M7 8L2 22L16 17L7 8M19 11.06C18.3 11.06 17.66 11.33 17.06 11.86L15.47 13.45L16.55 14.53L18.14 12.94C18.39 12.69 18.67 12.56 19 12.56C19.33 12.56 19.63 12.69 19.88 12.94L21.5 14.53L22.55 13.5L20.95 11.86C20.36 11.33 19.7 11.06 19 11.06Z" />
                                </svg>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="listing-page-title">
                    <h1>{{ listing.title }}</h1>
                </div>

                {% if listing.photo_url %}
                    <div class="listing-photo">
                        <img src="{{ listing.photo_url}}" alt="{{ listing.title }}">
                    </div>
                {% endif %}

                <h3 style="margin-top: 20px">Description</h3>
                <p>{{ listing.description }}</p>
                {% if user.is_authenticated and user != listing.user %}
                    <form id="watchlist-toggle" action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        {% if is_watchlist == False %}
                            <button name="toggle-watchlist" value="toggle-watchlist" class="watchlist-false">
                                <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M5.8 21L7.4 14L2 9.2L9.2 8.6L12 2L14.8 8.6L22 9.2L18.8 12H18C14.9 12 12.4 14.3 12 17.3L5.8 21M17 14V17H14V19H17V22H19V19H22V17H19V14H17Z" />
                                </svg>
                                Add to Watchlist
                            </button>
                        {% else %}
                            <button name="toggle-watchlist" value="toggle-watchlist" class="watchlist-true">
                                <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M5.8 21L7.4 14L2 9.2L9.2 8.6L12 2L14.8 8.6L22 9.2L18.8 12H18C14.9 12 12.4 14.3 12 17.3L5.8 21M14 17V19H22V17H14Z" />
                                </svg>
                                Remove from Watchlist
                            </button>
                        {% endif %}
                    </form>
                {% endif %}

            </div>

            <div class="listing-page-seller-info">
                <h3>Seller Info</h3>
                <p><strong>Seller:</strong> {{ listing.user }}</p>
            </div>

            {% if user == listing.user %}
                <div class="listing-page-settings">
                    <div>
                        <h3>Listing Settings</h3>
                        <form id="listing-settings" action="{% url 'listing' listing.id %}" method="post">
                            {% csrf_token %}
                            <button name="edit" value="edit">Edit Listing</button>
                            <button name="end" value="end" onclick="return confirm('Are you sure you want to end this listing and award it to the current highest bidder?')">End Listing</button>
                            <button id="delete" name="delete" value="delete" onclick="return confirm('Are you sure you want to delete this listing?')">Delete Listing</button>
                        </form>
                    </div>
                </div>
            {% endif %}

            <div class="listing-page-bids">
                <h3>Bids</h3>
                {% if listing.is_active == True %}
                    <p><strong>Starting bid:</strong> ${{ listing.starting_bid }}</p>
                    <p><strong>Current highest bid:</strong>
                        {% if current_highest_bid %}
                            ${{ current_highest_bid }}
                        {% else %}
                            No bids yet
                        {% endif %}
                        {% if current_highest_bidder %}
                            ({{ current_highest_bidder }})
                        {% endif %}
                    </p>
                {% else %}
                    {% if user == current_highest_bidder %}
                        <div class="listing-status winner-box" style="margin-block: 0px;">
                            <svg style="width:18px;height:18px" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M14.53 1.45L13.45 2.53L15.05 4.13C15.27 4.38 15.38 4.67 15.38 5S15.27 5.64 15.05 5.86L11.5 9.47L12.5 10.55L16.13 6.94C16.66 6.35 16.92 5.7 16.92 5C16.92 4.3 16.66 3.64 16.13 3.05L14.53 1.45M10.55 3.47L9.47 4.55L10.08 5.11C10.3 5.33 10.41 5.63 10.41 6S10.3 6.67 10.08 6.89L9.47 7.45L10.55 8.53L11.11 7.92C11.64 7.33 11.91 6.69 11.91 6C11.91 5.28 11.64 4.63 11.11 4.03L10.55 3.47M21 5.06C20.31 5.06 19.67 5.33 19.08 5.86L13.45 11.5L14.53 12.5L20.11 6.94C20.36 6.69 20.66 6.56 21 6.56S21.64 6.69 21.89 6.94L22.5 7.55L23.53 6.47L22.97 5.86C22.38 5.33 21.72 5.06 21 5.06M7 8L2 22L16 17L7 8M19 11.06C18.3 11.06 17.66 11.33 17.06 11.86L15.47 13.45L16.55 14.53L18.14 12.94C18.39 12.69 18.67 12.56 19 12.56C19.33 12.56 19.63 12.69 19.88 12.94L21.5 14.53L22.55 13.5L20.95 11.86C20.36 11.33 19.7 11.06 19 11.06Z" />
                            </svg>
                            <p><strong>Congratulations, {{ current_highest_bidder}}! You have won this listing with a bid of ${{ current_highest_bid }}</strong></p>
                        </div>
                    {% else %}
                        <p>Won by {{ current_highest_bidder }} with a bid of ${{ current_highest_bid }}</p>
                    {% endif %}
                {% endif %}
                {% if user.is_authenticated and listing.user != user and listing.is_active%}
                    <div class="make-bid-box">
                        <h3>Make new bid for this item</h3>
                        <form action="{% url 'listing' listing.id %}" method="post">
                            {% csrf_token %}
                            {{ bid_form }}
                            <span class="dollar-sign">$</span>
                            {% if bid_error %}
                                <p>{{ bid_error }}</p>
                            {% endif %}
                            <button type="submit">Submit bid</button>
                        </form>
                    </div>
                {% endif %}
            </div>

            <div class="listing-page-comments">
                <h3>Comments</h3>
                {% if comments %} 
                    {% for comment in  comments %}
                        <div class="comment-box">
                            <div class="comment-header">
                                <div class="comment-user">{{ comment.user }} {% if comment.user == listing.user %} <span class="comment-seller"> Seller </span>{% endif %}</div>
                                <div class="comment-time">{{ comment.time_stamp|timesince }} ago</div>
                            </div>
                            <div class="comment-body">
                                {{ comment.comment }}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No comments yet</p>
                {% endif %}
                {% if user.is_authenticated and listing.is_active %}
                    <form action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        {{ comment_form }}
                        <button>Leave Comment</button>
                    </form>
                    {% if comment_error %}
                    <p>{{ comment_error }}</p>
                    {% endif %}
                {% endif %}
            </div>

        </div>
    {% endif %}
{% endblock %}