{% extends "auctions/layout.html" %}

{% block body %}
    <h1>My Watchlist</h1>
    {% if watchlist_items %}
        {% for listing in watchlist_items %}
            <div class="listing">
                <h2>{{ listing.title }}</h2>
                <img src="{{ listing.photo_url }}" height="200px">
                <p>{{ listing.description }}</p>
                <p>
                    {% if listing.highest_bid %}
                        Current highest bid: ${{ listing.highest_bid }} ({{ listing.bid_count }} {% if listing.bid_count == 1 %} bid{% else %} bids{% endif %})
                    {% else %}
                        Starting bid: ${{ listing.starting_bid }}
                    {% endif %}
                </p>
                <p>
                    {% if listing.is_active %}
                        Status: Active
                    {% elif user == listing.highest_bidder %}
                        Status: Finished (You won this listing!)
                    {% else %}
                        Status: Finished
                    {% endif %}
                </p>
                <a href="{% url 'listing' listing.id %}">View listing</a>
                <br><br>
                <form action="{% url 'watchlist' %}" method="post">
                    {% csrf_token %}
                    <input name="listing_id" value="{{ listing.id }}" hidden>
                    <button name="remove_from_watchlist" value="remove_from_watchlist">Remove from watchlist</button>
                </form>
                <hr>
            </div>
        {% endfor %}
    {% else %}
            <p>There are no listings in this category...</p>
    {% endif %}

{% endblock %}